# KNN for Regression

In [43]:
# Import data set

import pandas as pd
import warnings
warnings.filterwarnings('ignore') 

df1 = pd.read_csv("weight-height.csv")
df1.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [44]:
#df1.info()
#df1.describe()
df1.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [45]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

encoded_col = label_encoder.fit_transform(df1['Gender'])
df1['Gender'] = encoded_col
df1.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [46]:
# Separate X (Gender, Height) and Y (y=Weight)

X1 = df1.drop('Weight',axis=1)
Y1 = df1['Weight']

In [47]:
# Train = 70%, Test = 30%

from sklearn.model_selection import train_test_split

X1_train, X1_test, Y1_train, Y1_test = train_test_split(X1, Y1, test_size=0.30)

In [48]:
# Apply Linear Regression

from sklearn.linear_model import LinearRegression 

linear_reg = LinearRegression()
reg.fit(X1_train, Y1_train)

LinearRegression()

In [51]:
# Evaluate the Model

from sklearn.metrics import mean_squared_error, r2_score

linearY1_pred = reg.predict(X1_test)

mse_linear = mean_squared_error(Y1_test, linearY1_pred)
r2_linear = r2_score(Y1_test, linearY1_pred)

print("Linear Regression:")
print(f"Mean Squared Error (MSE): {mse_linear: .2f}")
print(f"R-squared (R2): {r2_linear: .2f}")


#reg.score(X_test,Y_test)

Linear Regression:
Mean Squared Error (MSE):  103.33
R-squared (R2):  0.90

In [52]:
# Apply KNN Regressor

from sklearn.neighbors import KNeighborsRegressor

knn_reg = KNeighborsRegressor(n_neighbors=3)
knn_reg.fit(X1_train, Y1_train)

KNeighborsRegressor(n_neighbors=3)

In [53]:
# Evaluate the Model

from sklearn.metrics import mean_squared_error, r2_score

KNNY1_pred = knn_reg.predict(X1_test)

mse = mean_squared_error(Y1_test, KNNY1_pred)
r2 = r2_score(Y1_test, KNNY1_pred)

print("KNeighborsRegressor:")
print(f"Mean Squared Error (MSE): {mse: .2f}")
print(f"R-squared (R2): {r2: .2f}")

KNeighborsRegressor:
Mean Squared Error (MSE):  140.04
R-squared (R2):  0.86

# KNN for Classification

In [61]:
# Import data set

df2 = df1.copy()
df2.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [62]:
# Separate X and Y. (y=Gender)

X2 = df2.drop('Gender',axis=1)
Y2 = df2['Gender']

In [63]:
# Train = 70%, Test = 30%

X2_train, X2_test, Y2_train, Y2_test = train_test_split(X2, Y2, test_size=0.30)

In [64]:
# Apply KNN Classifier

from sklearn.neighbors import KNeighborsClassifier

knn_class = KNeighborsClassifier(n_neighbors=3) 
knn_class.fit(X2_train, Y2_train)

KNeighborsClassifier(n_neighbors=3)

In [66]:
# Evaluate the Model

Class_pred = knn_class.predict(X2_test)
knn_class.score(X2_test, Y2_test)

0.9041682898324893