In [4]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore') 

data = {'age': [21, 20, 22, 22, 23, 21, 25, 30, 31],
        'Income(k)': [60, 55, 60, 61, 65, 62, 65, 70, 68]}

df1 = pd.DataFrame(data)
df1

   age  Income(k)
0   21         60
1   20         55
2   22         60
3   22         61
4   23         65
5   21         62
6   25         65
7   30         70
8   31         68

In [25]:
from sklearn.neighbors import KNeighborsRegressor

x = df1[['age']]
y = df1[['Income(k)']]

neigh = KNeighborsRegressor(n_neighbors=3)
neigh.fit(x,y)

pred_income_KNN = neigh.predict([[22]])

print("The predicted value from KNeighborsRegressor")
print(f"The predicted income for age 22 is: {pred_income_KNN[0][0]}")

The predicted value from KNeighborsRegressor
The predicted income for age 22 is: 60.333333333333336

In [26]:
from sklearn.linear_model import LinearRegression 

reg = LinearRegression()
reg.fit(x, y)

pred_income_reg = reg.predict([[22]])

print("The predicted value from LinearRegression")
print(f"The predicted income for age 22 is: {pred_income_reg[0][0]}")

The predicted value from LinearRegression
The predicted income for age 22 is: 60.97068965517241

In [27]:
file_path  = 'Assignment 7,1.xlsx'

df1.to_excel(file_path, index=False)