In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'Price' : [110, 105, 115, 120, 110, 130, 150, 100, 105]}
df = pd.DataFrame(data)
df

   Price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

Normalization

In [3]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

df['Price_norm'] = scaler.fit_transform(df[['Price']])
df.head()

   Price  Price_norm
0    110         0.2
1    105         0.1
2    115         0.3
3    120         0.4
4    110         0.2

Standardization

In [4]:
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
df['Price_stand'] = std.fit_transform(df[['Price']])
df.head()

   Price  Price_norm  Price_stand
0    110         0.2    -0.416356
1    105         0.1    -0.757011
2    115         0.3    -0.075701
3    120         0.4     0.264954
4    110         0.2    -0.416356

Log Transformation

In [5]:
from sklearn.preprocessing import FunctionTransformer

df['Price_log'] = FunctionTransformer(np.log1p).fit_transform(df[['Price']])
df.head()

   Price  Price_norm  Price_stand  Price_log
0    110         0.2    -0.416356   4.709530
1    105         0.1    -0.757011   4.663439
2    115         0.3    -0.075701   4.753590
3    120         0.4     0.264954   4.795791
4    110         0.2    -0.416356   4.709530

Robust Scaler

In [6]:
from sklearn.preprocessing import RobustScaler

df['Price_robust'] = RobustScaler().fit_transform(df[['Price']])
df.head()

   Price  Price_norm  Price_stand  Price_log  Price_robust
0    110         0.2    -0.416356   4.709530      0.000000
1    105         0.1    -0.757011   4.663439     -0.333333
2    115         0.3    -0.075701   4.753590      0.333333
3    120         0.4     0.264954   4.795791      0.666667
4    110         0.2    -0.416356   4.709530      0.000000

Max Absolute Scaler

In [7]:
from sklearn.preprocessing import MaxAbsScaler

scaler = MaxAbsScaler()
df['Price_maxScaler'] = scaler.fit_transform(df[['Price']])
df.head()

   Price  Price_norm  Price_stand  Price_log  Price_robust  Price_maxScaler
0    110         0.2    -0.416356   4.709530      0.000000         0.733333
1    105         0.1    -0.757011   4.663439     -0.333333         0.700000
2    115         0.3    -0.075701   4.753590      0.333333         0.766667
3    120         0.4     0.264954   4.795791      0.666667         0.800000
4    110         0.2    -0.416356   4.709530      0.000000         0.733333